yt-dlp
ffmpeg-python
faster-whisper
python-dotenv
pydantic
google-genai
opencv-python-headless
mediapipe
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
streamlit
requests
numpy
streamlink
playwright
streamlit-autorefresh
browser-cookie3
filelock
psutil
pytest
