yt-dlp
ffmpeg-python
faster-whisper
python-dotenv
pydantic
openai
opencv-python-headless
mediapipe
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
streamlit
requests
pandas
numpy
streamlink
playwright
streamlit-autorefresh
browser-cookie3
pytest
